@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1080px) {
  a.menu-btn-large {
    right: 40px;
  }
}

@media (max-width: 1199px) {
  section {
    padding: 80px 0;
  }

  body {
    overflow-x: hidden !important;
  }
  .experience_img img {
    width: unset;
  }
}

@media (min-width: 991px) {
  .side-bar {
    display: none;
  }
}
@media (max-width: 991px) {
  section.three_block {
    margin-top: 0;
    padding-bottom: 0;
  }
  section.slider_homepage {
    margin-top: 0;
  }
  a.menu-btn-large {
    top: 31px;
  }
  section.top_header {
    background: white;
  }
  .logo img {
    width: 137px;
  }
  .slide .slide__content {
    width: 73%;
  }
  .three_item {
    width: 101%;
  }
  .row_wrapp {
    transform: translateY(0px);
  }
  section.about .section-title {
    margin-bottom: 30px;
  }
  .row_wrapp {
    transform: translateY(-0);
  }
  .container_wrapp {
    padding-bottom: 80px;
  }
  .section-title_center h2 span::after,
  .section-title h2::after {
    top: 24px;
  }
  section.services .section-title h3 {
    font-weight: 400;
    font-size: clamp(19px, 5vw, 24px);
    line-height: clamp(28px, 5vw, 40px);
  }
  section.banner {
    margin-top: 0;
  }
  .banner_title h1::before,
  .banner_title h1::after,
  .banner_title h1 span::before,
  .banner_title h1 span::after {
    display: none;
  }
  .banner_title h1 {
    border-left: 3px solid #dc1c2e;
    border-right: 3px solid #dc1c2e;

    padding: 10px;
  }
  .contact_form_user img {
    width: 73px;
  }
  .form_block_wrapp {
    margin-left: -13px;
  }
  blockquote {
    padding: 20px;
  }
  section.project_des {
    padding: 0;
  }
}
@media (max-width: 767px) {
  section.blog_detail {
    margin-top: 0;
  }
  section.blog_detail.bg_gray.pt-0 {
    padding-top: 50px !important;
  }
  blockquote::before,
  blockquote::after {
    display: none;
  }
  .form_block_wrapp {
    margin-left: 0px;
  }
  section.contact_form::before,
  section.contact_form::after {
    width: 100%;
  }
  section.contact_form::after {
    display: none;
  }

  section.services_list .three_item-wrapp {
    margin-bottom: 17px;
  }

  .thumbnail-2 {
    position: unset;
  }

  .thumbnail-2 img {
    min-width: unset;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    object-fit: cover;
    width: 100%;
  }
  .about-four-img {
    padding-left: 0;
  }
  .bg_img-three img {
    height: unset;
  }
  section.contact {
    margin-top: 50px;
  }
  .services_wrapp {
    min-height: unset;
  }
  .slide .slide__content {
    width: 90%;
  }
  .work_wrapp {
    margin-bottom: 15px;
  }
  section {
    padding: 55px 0;
  }
  .about_section {
    padding: 49px;
    min-height: unset;
    max-height: unset;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title_center h2 span::after,
  .section-title h2::after {
    top: 21px;
  }
  .section-title h2::before,
  .section-title_center h2 span::before {
    top: 12px;
  }
  section.testimonial_detail .block-shadow {
    min-height: unset;
    margin-bottom: 12px;
  }
  footer.bg_black {
    border-top-left-radius: 0;
  }
  .side-bar-large {
    width: 326px;
  }
  .menu_side ul li a {
    margin-bottom: 17px;
  }
  a.menu-btn-large {
    right: 29px;
  }
  .about_item img {
    min-height: 240px;
    max-height: 240px;
  }
}
